services:
  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydb
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql:ro

  backend:
    build:
      context: ./Backend
      dockerfile: Dockerfile
    container_name: backend
    restart: always
    depends_on:
      - postgres
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=myuser
      - DB_PASS=mypassword
      - DB_NAME=mydb
      - SERVER_PORT=8081
    ports:
      - "8081:8081"

  frontend:
    build:
      context: ./Frontend
      dockerfile: Dockerfile
      args:
        REACT_APP_API_URL: "http://localhost:8081"
    environment:
      - REACT_APP_API_URL=http://localhost:8081
    ports:
      - "3000:80"

volumes:
  postgres-data: